# .NET
bin/
obj/
*.user
src/IdentityHub.Api/appsettings.Production.json
src/IdentityHub.Api/appsettings.Local.json

# Angular / Node
client/node_modules/
client/dist/
client/.angular/
npm-debug.log*

# IDE
.vs/
.vscode/
*.suo

# Misc
*.log
